{% extends 'base.html' %}
{% load static %}
{% block content %}

<section id="about-page" class="bg-fixed page-hero-section division">
    <div class="container">	


        <!-- PAGE HERO TEXT -->
        <div class="row justify-content-center">	
            <div class="col-md-10 col-xl-8">
                <div class="hero-txt text-center white--color">
                    <h2 class="h2-xl">About Epitome Nigeria</h2>	
                </div>	
            </div>
        </div>


        <!-- BREADCRUMB -->
        <div id="breadcrumb">
            <div class="row d-flex align-items-center">					
                <div class="col">
                    <div class="breadcrumb-nav">
                        <nav aria-label="breadcrumb">
                              <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="/">Home</a></li>
                                <li class="breadcrumb-item active" aria-current="page">About Us</li>
                              </ol>
                        </nav>
                    </div>
                </div>
            </div> 
        </div>	<!-- END BREADCRUMB -->


    </div>	   <!-- End container --> 
</section>

<section id="about-3" class="wide-100 about-section division">
    <div class="container">
        <div class="row d-flex align-items-center">


            <!-- TEXT BLOCK -->	
            <div class="col-md-7 col-lg-6">
                <div class="txt-block left-column wow fadeInRight" style="visibility: visible; animation-name: fadeInRight;">

                    <!-- Section ID -->	
                     <!-- <div class="section-id">Get Your Shine On</div> -->

                     <!-- Title -->	
                    <h3 class="h3-md">What Do You Want To Know?</h3>	

                    <!-- Text -->
                    <p class="p-lg">
                        Miss Epitome Nigeria is a Beauty pageant Brand founded by Erewa Timenyin (Queentimmy)
                        The Brand was birthed to give young women the opportunity to excel in thier career with good morals 
                        and courage and they are between the age of 16-30years  of age .

                    </p>

                    <p class="p-lg">
                        The Epitome Nigeria has been in Existence for the past 3years now and so far we have produced 15 beauty Queens and expecting more which are doing Exceptionally well..
                        and we have also taken it upon ourselves to be able to monitor young people despite thier personal challenges and also improve on them and build thier self confidence and also empower them .
                    </p>

                    <h4>
                        The Brand organizes 4 events yearly
                    </h4>

                    <!-- List -->
                    <ul class="simple-list">

                        <li class="list-item">
                            <p class="p-lg">
                                The exceptional Woman 
                            </p>
                        </li>

                        <li class="list-item">
                            <p class="p-lg">
                                Miss culture 
                            </p>
                        </li>

                        <li class="list-item">
                            <p class="p-lg">
                                The selfie challenge contest 
                            </p>
                        </li>

                    </ul>

                    <p class="p-lg">
                        These events with thier unique impacts and put up for young aspiring models and beauty Queens ..
                    </p>

                    <p class="p-lg">
                        The Epitome Brand Nigeria is still in the business of 
                        producing excellent Royalties in the society and supporting young dreams .
                    </p>
                        
                </div>	
            </div>


            <!-- IMAGE BLOCK -->
            <div class="col-md-5 col-lg-6">
                <div class="img-block right-column wow fadeInLeft" style="visibility: visible; animation-name: fadeInLeft;">
                    <img class="img-fluid" src="{% static 'images/800x700_3.jpg' %}" alt="about-image">
                </div>
            </div>


        </div>    <!-- End row -->	
    </div>	   <!-- End container -->	
</section>
    
{% endblock content %}
    