{% extends 'base.html' %}

{% block content %}

<section id="contacts-page" class="bg-fixed page-hero-section division">
    <div class="container">	


        <!-- PAGE HERO TEXT -->
        <div class="row justify-content-center">	
            <div class="col-md-10 col-xl-8">
                <div class="hero-txt text-center white--color">
                    <h2 class="h2-xl">Register</h2>	
                </div>	
            </div>
        </div>


        <!-- BREADCRUMB -->
        <div id="breadcrumb">
            <div class="row d-flex align-items-center">					
                <div class="col">
                    <div class="breadcrumb-nav">
                        <nav aria-label="breadcrumb">
                              <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="/">Home</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Register</li>
                              </ol>
                        </nav>
                    </div>
                </div>
            </div> 
        </div>	<!-- END BREADCRUMB -->


    </div>	   <!-- End container --> 
</section>

<section id="contacts-2" class="wide-50 contacts-section division">				
    <div class="container">


        <!-- CONTACTS-2 WRAPPER -->
        <div class="contacts-2-wrapper">
            <!-- CONTACT FORM -->
            <div class="row">


                <!-- SECTION TITLE -->	
                <div class="row justify-content-center">	
                    <div class="col-lg-10 col-xl-8">
                        <div class="section-title title-01 mb-60">

                            <!-- Section ID -->	
                             <span class="section-id">Online Enquiry</span>	

                            <!-- Title -->	
                            <h2 class="h2-md">Please Fill Correct Details</h2>	

                        </div>	
                    </div>
                </div>


                 <div class="col-md-12">
                     <div class="form-holder mb-40">
                        <form class="row contact-form" action="{% url 'register' %}" method="post" enctype="multipart/form-data">
                            {% csrf_token %}                                                    
                            <!-- Form Input -->
                            <div class="col-lg-6">
                                <input type="text" name="name" class="form-control name" placeholder="Your Name*" value="{{values.name}}"> 
                            </div>
                              
                            <!-- Form Input -->        
                            <div class="col-lg-6">
                                <input type="text" name="phone_no" class="form-control subject" placeholder="Phone Number" value="{{values.phone_no}}"> 
                            </div>

                            <!-- Form Input -->   
                            <div class="col-md-6">
                                <input type="text" name="state_of_origin" class="form-control subject" placeholder="State Of Origin" value="{{values.state_of_origin}}"> 
                            </div>
                            <div class="col-md-6">
                                <input type="text" name="state_of_residence" class="form-control subject" placeholder="State Of Residence" value="{{value.state_of_residence}}"> 
                            </div>
                            <div class="col-md-12">
                                <select name="reg_type" class="form-control" required>
                                    <option value="">Select A Contest</option>
                                    {% for type in c_types %}
                                    <option value="{{type.id}}">{{type.name}}</option>
                                    {% endfor %}
                                </select>
                                    
                                    
                            </div>
                            <div class="col-md-12">
                                <input type="text" name="address" class="form-control subject" placeholder="Address" value="{{values.address}}"> 
                            </div>

                            <div class="col-md-12">
                                <label for="formFile" class="form-label">Upload Your Photo</label>
                                <input type="file" accept="image/*" name="reg_image" class="form-control form-control-sm py-3" value="{{values.reg_image}}"> 
                            </div>

                                                        
                            <!-- Form Button -->
                            <div class="col-md-12 mt-15 text-end">  
                                <!-- <button type="submit" class="btn rose--btn tra-black--hover submit">Send Message</button>  -->
                                <input type="submit" class="btn rose--btn tra-black--hover" value="submit">
                            </div>

                                                     
                                                                                    
                        </form>	
                     </div>	
                 </div>	
            </div>	  <!-- END CONTACT FORM -->	


        </div>	<!-- END CONTACTS-2 WRAPPER -->


    </div>	   <!-- End container -->		
</section>
    
{% endblock %}
    