{% extends 'base.html' %}
{% load static %}
{% block content %}
<section id="gallery-1" class="wide-60 inner-page-hero gallery-section division">
    <div class="container">	


        <!-- SECTION TITLE -->	
        <div class="row justify-content-center">	
            <div class="col-md-10 col-lg-8">
                <div class="section-title title-01 mb-70">	

                    <!-- Section ID -->	
                     <span class="section-id">Epitome Photos</span>	

                     <!-- Title -->	
                    <h2 class="h2-lg">Past & Present</h2>

                </div>	
            </div>
        </div>


        <!-- GALLERY IMAGES HOLDER -->
        <div class="row">	
            <div class="col-md-12 gallery-items-list">
                <div class="masonry-wrap grid-loaded text-center" style="position: relative; height: 1115.95px;">


                    <!-- IMAGE #1 -->
                    
                    {% if galleries %}
                        
                    {% for gallery in galleries %}
                        
                      <div class="masonry-image" style="position: absolute; left: 0%; top: 0px;">
                          <a class="image-link" href="{{gallery.g_images.url}}">
                            <div class="hover-overlay"> 

                                <!-- Image -->
                                <img class="img-fluid" src="{{gallery.g_images.url}}" alt="gallery-image">		
                                <div class="item-overlay"></div>

                                <!-- Image Description -->
                                <!-- <div class="image-description white--color">
                                    <div class="image-caption">
                                        <p class="txt-upcase">Hands, Care</p>
                                        <h5 class="h5-xl">Paraffin Mask</h5>		
                                    </div>																				 
                                </div>  -->

                            </div>
                        </a>
                    </div>	<!-- END IMAGE #1 -->	
                    {% endfor %}

                    {% else %}
                    <h2 class="h2-lg">No Images Avaliable Yet</h2>

                    {% endif %}



                </div>
            </div>	
        </div>	 <!-- END GALLERY IMAGES HOLDER -->


        <!-- BUTTON -->		
         <div class="row">
             <div class="col">
                 <div class="more-btn mt-40">
                    <a href="#" class="btn tra-grey--btn rose--hover ico-15">
                       <span class="flaticon-instagram"></span> Visit Our Instagram
                    </a>
                </div>
            </div>
        </div>	<!-- END BUTTON -->	


    </div>	   <!-- End container -->
</section>
    
{% endblock %}
    