{% extends 'base.html' %}
{% load static %}

{% block content %}


			<!-- HERO-3
			============================================= -->	
			<section id="hero-3" class="bg-fixed hero-section division">
				<div class="container">	
					<div class="row d-flex align-items-center">


						<!-- HERO TEXT -->
						<div class="col-lg-10 offset-lg-1">
							<div class="hero-3-txt text-center white--color">

								<!-- Title -->
								<h2>Epitome <span>Nigeria</span></h2>

								<!-- Text -->
								<p>The Exceptional Woman, Miss Culture & The Selfie Challenge</p>

								<!-- Button -->
								<a href="#pricing-3" class="btn rose--btn tra-white--hover">Read More</a>

						    </div>
						</div>	<!-- END HERO TEXT -->


					</div>    <!-- End row --> 	
				</div>	   <!-- End container --> 	
			</section>	<!-- END HERO-3 -->	




			<!-- ABOUT-3a
			============================================= -->
			<section id="about-3a" class="wide-100 about-section division">
				<div class="container">
					<div class="row d-flex align-items-center">


						<!-- IMAGE BLOCK -->
						<div class="col-md-5 col-lg-6 order-last order-md-2">
							<div class="img-block left-column wow fadeInRight">
								<img class="img-fluid" src="images/800x700_2.jpg" alt="about-image">
							</div>
						</div>


						<!-- TEXT BLOCK -->	
						<div class="col-md-7 col-lg-6 order-first order-md-2">
							<div class="txt-block right-column wow fadeInLeft">

								<!-- Section ID -->	
					 			<div class="section-id">Get Your Shine On</div>

					 			<!-- Title -->	
								<h3 class="h3-md">Skilled Nail Art</h3>	

								<!-- Text -->
								<p class="p-lg">Nullam tempor sapien gravida donec and pretium ipsum porta integer justo an odio velna vitae 
								   auctor integer congue magna undo purus a pretium ligula rutrum magna egestas 
								</p>

								<!-- List -->
								<ul class="simple-list">

									<li class="list-item">
										<p class="p-lg">Aliquam vitae molestie at quisque sapien volutpat and justo, aliquet molestie purus 
										   efficitur ipsum
										</p>
									</li>

									<li class="list-item">
										<p class="p-lg">Sagittis congue augue magna risus mauris volutpat and egestas magna suscipit egestas a 
										   vitae purus
										</p>
									</li>

								</ul>

							</div>	
						</div>


					</div>    <!-- End row -->	
				</div>	   <!-- End container -->	
			</section>	<!-- END ABOUT-3a -->




			<!-- SERVICES-5
			============================================= -->
			<section id="services-5" class="pb-100 services-section division">
				<div class="container">


					<!-- SERVICES-5 WRAPPER -->
					<div class="sbox-5-wrapper text-center">
			 			<div class="row row-cols-1 row-cols-sm-2 row-cols-lg-4">
			 			

							<!-- SERVICES BOX #1 -->
							<div class="col">
								<div id="sb-5-1" class="sbox-5 wow fadeInUp" data-wow-delay="0.3s">
									
									<!-- Icon -->
									<div class="sbox-ico ico-80 black--color">
										<span class="flaticon-pedicure-1"></span>
									</div> 

									<!-- Title -->
									<h5 class="h5-lg">Nail Care</h5>

									<!-- Text -->
									<p class="p-lg">Risus auctor ligula tempus and dolor vitae  neque feugiat ligula suscipit and risus mauri</p>
																											
								</div>							
							</div>	


				 			<!-- SERVICES BOX #2 -->
							<div class="col">
								<div id="sb-5-2" class="sbox-5 wow fadeInUp" data-wow-delay="0.6s">
									
									<!-- Icon -->
									<div class="sbox-ico ico-80 black--color">
										<span class="flaticon-nail-polish-3"></span>
									</div> 

									<!-- Title -->
									<h5 class="h5-lg">Nail Art</h5>

									<!-- Text -->
									<p class="p-lg">Risus auctor ligula tempus and dolor vitae  neque feugiat ligula suscipit and risus mauri</p>

								</div>							
							</div>
								
								
							<!-- SERVICES BOX #3 -->
							<div class="col">
								<div id="sb-5-3" class="sbox-5 wow fadeInUp" data-wow-delay="0.9s">
									
									<!-- Icon -->
									<div class="sbox-ico ico-80 black--color">
										<span class="flaticon-soak"></span>
									</div> 

									<!-- Title -->
									<h5 class="h5-lg">Add-Ons</h5>

									<!-- Text -->
									<p class="p-lg">Risus auctor ligula tempus and dolor vitae  neque feugiat ligula suscipit and risus mauri</p>
							
								</div>							
							</div>


							<!-- SERVICES BOX #4 -->
							<div class="col">
								<div id="sb-5-4" class="sbox-5 wow fadeInUp" data-wow-delay="1.2s">
									
									<!-- Icon -->
									<div class="sbox-ico ico-80 black--color">
										<span class="flaticon-skincare"></span>
									</div> 

									<!-- Title -->
									<h5 class="h5-lg">Treatments</h5>

									<!-- Text -->
									<p class="p-lg">Risus auctor ligula tempus and dolor vitae  neque feugiat ligula suscipit and risus mauri</p>
							
								</div>							
							</div>


						</div>
					</div>	<!-- END SERVICES-5 BOXES -->


				</div>	   <!-- End container -->
			</section>	<!-- END SERVICES-5 -->




			<!-- BANNER-3
			============================================= -->
			<section id="banner-3" class="bg-fixed banner-section division">
				<div class="container">
						<div class="row">


						<!-- BANNER TEXT -->
						<div class="col-md-7 col-lg-6">
							<div class="banner-3-txt text-center">

								<!-- Title -->	
								<h5 class="h5-md">We want to make every girl pretty, happy, and loved!</h5>
								<h2>20% OFF</h2>
								<h4 class="h4-xs">on Manicure + Gel Polish</h4>

								<!-- Button -->
								<a href="booking.html" class="btn rose--btn tra-black--hover">Booking Online</a>

								<!-- Small Text -->	
								<p class="mt-20">* All Autumn Long!</p>

							</div>
						</div>	<!-- END BANNER TEXT -->


						</div>    <!-- End row -->	
				</div>	   <!-- End container -->	
			</section>	<!-- END BANNER-3 -->




			<!-- GALLERY-2
			============================================= -->		
			<section id="gallery-2" class="pt-100 gallery-section division">
				<div class="container">


					<!-- SECTION TITLE -->
					<div class="row justify-content-center">	
						<div class="col-lg-10 col-xl-8">
							<div class="section-title title-01 mb-60">	

								<!-- Section ID -->	
					 			<span class="section-id">Images Gallery</span>	

								<!-- Title -->	
								<h2 class="h2-lg">Stop Time. Stay Beautiful</h2>

							</div>	
						</div>
					</div>


					<!-- IMAGES HOLDER -->
					<div class="row row-cols-1 row-cols-sm-2 row-cols-lg-4">


						<!-- IMAGE #1 -->
					  	<div class="col">
					  		<div id="img-2-1" class="gallery-image">
					  			<a class="image-link" href="images/gallery/700x700_1.jpg">
							  		<div class="hover-overlay"> 

							  			<!-- Image -->
										<img class="img-fluid" src="images/gallery/700x700_1.jpg" alt="gallery-image" />			
										<div class="item-overlay"></div>	

										<!-- Image Description -->
										<div class="image-description white--color">
											<div class="image-caption">
												<p class="txt-upcase">Art, Care</p>
												<h5 class="h5-lg">Nail Art Design</h5>		
											</div>																				 
										</div> 			
										
							  		</div>
						  		</a>
							</div>
						</div>


						<!-- IMAGE #2 -->
					  	<div class="col">
					  		<div id="img-2-2" class="gallery-image">
					  			<a class="image-link" href="images/gallery/700x700_2.jpg">
							  		<div class="hover-overlay"> 

							  			<!-- Image -->
										<img class="img-fluid" src="images/gallery/700x700_2.jpg" alt="gallery-image" />			
										<div class="item-overlay"></div>	

										<!-- Image Description -->
										<div class="image-description white--color">
											<div class="image-caption">
												<p class="txt-upcase">Hands, Treatment</p>
												<h5 class="h5-lg">Callus Treatment</h5>		
											</div>																				 
										</div> 			

							  		</div>
						  		</a>
							</div>
						</div>	


						<!-- IMAGE #3 -->
					  	<div class="col">
					  		<div id="img-2-3" class="gallery-image">
					  			<a class="image-link" href="images/gallery/700x700_3.jpg">
							  		<div class="hover-overlay"> 

							  			<!-- Image -->
										<img class="img-fluid" src="images/gallery/700x700_3.jpg" alt="gallery-image" />			
										<div class="item-overlay"></div>

										<!-- Image Description -->
										<div class="image-description white--color">
											<div class="image-caption">
												<p class="txt-upcase">Hands, Care</p>
												<h5 class="h5-lg">Polish Change</h5>		
											</div>																				 
										</div> 				

							  		</div>
						  		</a>
							</div>
						</div>


						<!-- IMAGE #4 -->
					  	<div class="col">
					  		<div id="img-2-4" class="gallery-image">
					  			<a class="image-link" href="images/gallery/700x700_4.jpg">
							  		<div class="hover-overlay"> 

							  			<!-- Image -->
										<img class="img-fluid" src="images/gallery/700x700_4.jpg" alt="gallery-image" />			
										<div class="item-overlay"></div>

										<!-- Image Description -->
										<div class="image-description white--color">
											<div class="image-caption">
												<p class="txt-upcase">Hands, Care</p>
												<h5 class="h5-lg">Classic Manicure</h5>		
											</div>																				 
										</div> 				

							  		</div>
						  		</a>
							</div>
						</div>


						<!-- IMAGE #5 -->
					  	<div class="col">
					  		<div id="img-2-5" class="gallery-image">
					  			<a class="image-link" href="images/gallery/700x700_5.jpg">
							  		<div class="hover-overlay"> 

							  			<!-- Image -->
										<img class="img-fluid" src="images/gallery/700x700_5.jpg" alt="gallery-image" />			
										<div class="item-overlay"></div>

										<!-- Image Description -->
										<div class="image-description white--color">
											<div class="image-caption">
												<p class="txt-upcase">Hands, Treatment</p>
												<h5 class="h5-lg">Spa Pedicure</h5>		
											</div>																				 
										</div> 				

							  		</div>
						  		</a>
							</div>
						</div>


						<!-- IMAGE #6 -->
					  	<div class="col">
					  		<div id="img-2-6" class="gallery-image">
					  			<a class="image-link" href="images/gallery/700x700_6.jpg">
							  		<div class="hover-overlay"> 

							  			<!-- Image -->
										<img class="img-fluid" src="images/gallery/700x700_6.jpg" alt="gallery-image" />			
										<div class="item-overlay"></div>

										<!-- Image Description -->
										<div class="image-description white--color">
											<div class="image-caption">
												<p class="txt-upcase">Hands, Treatment</p>
												<h5 class="h5-lg">Gel Manicure</h5>		
											</div>																				 
										</div> 				

							  		</div>
						  		</a>
							</div>
						</div>


						<!-- IMAGE #7 -->
					  	<div class="col">
					  		<div id="img-2-7" class="gallery-image">
					  			<a class="image-link" href="images/gallery/700x700_7.jpg">
							  		<div class="hover-overlay"> 

							  			<!-- Image -->
										<img class="img-fluid" src="images/gallery/700x700_7.jpg" alt="gallery-image" />			
										<div class="item-overlay"></div>

										<!-- Image Description -->
										<div class="image-description white--color">
											<div class="image-caption">
												<p class="txt-upcase">Hands, Treatment</p>
												<h5 class="h5-lg">Express Manicure</h5>		
											</div>																				 
										</div> 				

							  		</div>
						  		</a>
							</div>
						</div>


						<!-- IMAGE #8 -->
					  	<div class="col">
					  		<div id="img-2-8" class="gallery-image">
					  			<a class="image-link" href="images/gallery/700x700_8.jpg">
							  		<div class="hover-overlay"> 

							  			<!-- Image -->
										<img class="img-fluid" src="images/gallery/700x700_8.jpg" alt="gallery-image" />			
										<div class="item-overlay"></div>

										<!-- Image Description -->
										<div class="image-description white--color">
											<div class="image-caption">
												<p class="txt-upcase">Hands, Treatment</p>
												<h5 class="h5-lg">Paraffin Manicure</h5>		
											</div>																				 
										</div> 				

							  		</div>
						  		</a>
							</div>
						</div>


					</div>	<!-- END IMAGES HOLDER -->


				</div>	   <!-- End container -->
			</section>	<!-- END GALLERY-2 -->




			<!-- ABOUT-5
			============================================= -->
			<section id="about-5" class="wide-100 about-section division">
				<div class="container">
					<div class="row d-flex align-items-center">


						<!-- TEXT TABLE -->	
						<div class="col-md-6 order-last order-md-2">
							<div class="txt-table left-column wow fadeInRight">

								<!-- Table -->
								<table class="table">
									<tbody>
									    <tr>
									      	<td>Mon – Wed</td>
									      	<td> - </td>
									      	<td class="text-end">10:00 AM - 9:00 PM</td>
									    </tr>
									    <tr>
									      	<td>Thursday</td>
									      	<td> - </td>
									      	<td class="text-end">10:00 AM - 7:30 PM</td>
									    </tr>
									     <tr>
									      	<td>Friday</td>
									      	<td> - </td>
									      	<td class="text-end">10:00 AM - 9:00 PM</td>
									    </tr>
									    <tr class="last-tr">
									      	<td>Sun - Sun</td>
									      	<td>-</td>
									      	<td class="text-end">10:00 AM - 5:00 PM</td>
									   	 </tr>
									  </tbody>
								</table>
							</div>
						</div>	<!-- END TEXT TABLE -->	


						<!-- TEXT BLOCK -->	
						<div class="col-md-6 order-first order-md-2">
							<div class="txt-block right-column wow fadeInLeft">

								<!-- Section ID -->	
						 		<span class="section-id">Time Schedule</span>

								<!-- Title -->
								<h3 class="h3-xs">Working Hours</h3>

								<!-- Text -->
								<p class="p-lg">Gravida porta vitae auctor congue magna impedit ligula and risus mauris donec ligula magnis 
								   aliqum mullam and primis risus undo donec luctus neque feugiat suscipit risus auctor egestas an augue mauri 
								   ligula magnis aliqum sapien vitae nemo egestas
								</p> 
									
							</div>	
						</div>	<!-- END TEXT BLOCK -->	


					</div>	  <!-- End row -->
				</div>	   <!-- End container -->	
			</section>	<!-- END ABOUT-5 -->




			<!-- ABOUT-9
			============================================= -->
			<section id="about-9" class="white-smoke--shape about-section division">
				<div class="container">
					<div class="row d-flex align-items-center">


						<!-- ABOUT-9 TEXT -->	
						<div class="col-md-6 col-lg-5 order-last order-md-2">
							<div class="about-9-txt wow fadeInRight">

								<!-- Section ID -->	
						 		<span class="section-id">Get Your Shine On</span>

								<!-- Title -->
								<h3 class="h3-md">Shining Feminine</h3>

								<!-- Text -->
								<p class="p-lg">Nullam tempor sapien gravida donec and pretium ipsum porta integer justo odio velna a vitae 
								   auctor justo integer congue undo purus ligula a pretium rutrum egestas 
								</p>

								<!-- Small Title -->
								<h5 class="h5-lg">Elegance in Every Stroke</h5>

								<!-- List -->
								<ul class="simple-list">

									<li class="list-item">
										<p class="p-lg">Aliquam vitae molestie at quisque sapien volutpat and justo, aliquet molestie purus 
											efficitur ipsum
										</p>
									</li>

									<li class="list-item">
										<p class="p-lg">Sagittis congue augue magna risus mauris volutpat and egestas magna suscipit egestas 
											a vitae purus
										</p>
									</li>

								</ul>

							</div>
						</div>	<!-- END ABOUT-9 TEXT -->


						<!-- ABOUT-9 IMAGE -->
						<div class="col-md-6 col-lg-7 order-first order-md-2">
							<div class="about-9-img wow fadeInLeft">
								<img class="img-fluid" src="images/800x700_1.jpg" alt="about-image">
							</div>
						</div>


					</div>	<!-- End row -->
				</div>	   <!-- End container -->	
			</section>	<!-- END ABOUT-9 -->




			<!-- PRICING-3
			============================================= -->
			<section id="pricing-3" class="wide-90 pricing-section division">
				<div class="container">


					<!-- SECTION TITLE -->
					<div class="row justify-content-center">	
						<div class="col-lg-10 col-xl-8">
							<div class="section-title title-01 mb-70">	

								<!-- Section ID -->	
					 			<span class="section-id">Services & Prices</span>	

								<!-- Title -->	
								<h2 class="h2-lg">Treat Yourself Today</h2>	
									
							</div>	
						</div>
					</div>


					<!-- PRICING-3 WRAPPER -->
					<div class="pricing-3-wrapper">
						<div class="row">	


							<!-- PRICING-3 TABLE -->
							<div class="col-lg-6">
								<div class="pricing-3-table pr-25 wow fadeInUp">


									<!-- PRICING LIST -->
									<ul class="pricing-3-list">


										<!-- PRICING ITEM #1 -->
										<li class="pricing-3-item">

											<!-- Title & Price -->
											<div class="detail-price">
												<div class="price-name"><h5 class="h5-lg">Classic Manicure</h5></div>
												<div class="price-dots"></div>
												<div class="price-number"><h5 class="h5-lg">$19</h5></div>
											</div>

											<!-- Description -->
											<div class="price-txt">
												<p class="p-md"><em>Service length 25 minutes</em></p>
											</div>
											
										</li>


										<!-- MENU ITEM #2 -->
										<li class="pricing-3-item">

											<!-- Title & Price -->
											<div class="detail-price">
												<div class="price-name"><h5 class="h5-lg">Spa Manicure</h5></div>
												<div class="price-dots"></div>
												<div class="price-number"><h5 class="h5-lg">$30</h5></div>
											</div>

											<!-- Description -->
											<div class="price-txt">
												<p class="p-md"><em>Service length 35 minutes</em></p>
											</div>

										</li>


										<!-- MENU ITEM #3 -->
										<li class="pricing-3-item">

											<!-- Title & Price -->
											<div class="detail-price">
												<div class="price-name"><h5 class="h5-lg">Aloe Vera Manicure</h5></div>
												<div class="price-dots"></div>
												<div class="price-number"><h5 class="h5-lg">$48</h5></div>
											</div>

											<!-- Description -->
											<div class="price-txt">
												<p class="p-md"><em>Service length 45 minutes</em></p>
											</div>

										</li>


										<!-- MENU ITEM #4 -->
										<li class="pricing-3-item">

											<!-- Title & Price -->
											<div class="detail-price">
												<div class="price-name"><h5 class="h5-lg">Gel Manicure</h5></div>
												<div class="price-dots"></div>
												<div class="price-number"><h5 class="h5-lg">$35</h5></div>
											</div>

											<!-- Description -->
											<div class="price-txt">
												<p class="p-md"><em>Service length 40 minutes</em></p>
											</div>

										</li>


										<!-- MENU ITEM #5 -->
										<li class="pricing-3-item resp-lst">

											<!-- Title & Price -->
											<div class="detail-price">
												<div class="price-name"><h5 class="h5-lg">Signature Gel Manicure</h5></div>
												<div class="price-dots"></div>
												<div class="price-number"><h5 class="h5-lg">$50</h5></div>
											</div>

											<!-- Description -->
											<div class="price-txt">
												<p class="p-md"><em>Service length 40 minutes</em></p>
											</div>

										</li>


									</ul>	<!-- END PRICING LIST -->


								</div>
							</div>	<!-- END PRICING-3 TABLE -->


							<!-- PRICING-3 TABLE -->
							<div class="col-lg-6">
								<div class="pricing-3-table pl-25 wow fadeInUp">


									<!-- PRICING LIST -->
									<ul class="pricing-3-list">


										<!-- PRICING ITEM #1 -->
										<li class="pricing-3-item">

											<!-- Title & Price -->
											<div class="detail-price">
												<div class="price-name"><h5 class="h5-lg">Classic Pedicure</h5></div>
												<div class="price-dots"></div>
												<div class="price-number"><h5 class="h5-lg">$32</h5></div>
											</div>

											<!-- Description -->
											<div class="price-txt">
												<p class="p-md"><em>Service length 40 minutes</em></p>
											</div>
											
										</li>


										<!-- MENU ITEM #2 -->
										<li class="pricing-3-item">

											<!-- Title & Price -->
											<div class="detail-price">
												<div class="price-name"><h5 class="h5-lg">Spa Pedicure</h5></div>
												<div class="price-dots"></div>
												<div class="price-number"><h5 class="h5-lg">$37</h5></div>
											</div>

											<!-- Description -->
											<div class="price-txt">
												<p class="p-md"><em>Service length 50 minutes</em></p>
											</div>

										</li>


										<!-- MENU ITEM #3 -->
										<li class="pricing-3-item">

											<!-- Title & Price -->
											<div class="detail-price">
												<div class="price-name"><h5 class="h5-lg">TC Signature Pedicure</h5></div>
												<div class="price-dots"></div>
												<div class="price-number"><h5 class="h5-lg">$44</h5></div>
											</div>

											<!-- Description -->
											<div class="price-txt">
												<p class="p-md"><em>Service length 40 minutes</em></p>
											</div>

										</li>


										<!-- MENU ITEM #4 -->
										<li class="pricing-3-item">

											<!-- Title & Price -->
											<div class="detail-price">
												<div class="price-name"><h5 class="h5-lg">Gel Pedicure</h5></div>
												<div class="price-dots"></div>
												<div class="price-number"><h5 class="h5-lg">$42</h5></div>
											</div>

											<!-- Description -->
											<div class="price-txt">
												<p class="p-md"><em>Service length 40 minutes</em></p>
											</div>

										</li>


										<!-- MENU ITEM #5 -->
										<li class="pricing-3-item resp-lst">

											<!-- Title & Price -->
											<div class="detail-price">
												<div class="price-name"><h5 class="h5-lg">DeLuxe Gel Pedicure</h5></div>
												<div class="price-dots"></div>
												<div class="price-number"><h5 class="h5-lg">$84</h5></div>
											</div>

											<!-- Description -->
											<div class="price-txt">
												<p class="p-md"><em>Service length 60 minutes</em></p>
											</div>

										</li>


									</ul>	<!-- END PRICING LIST -->


								</div>
							</div>	<!-- END PRICING-3 TABLE -->


						</div>	  <!-- End row -->
					</div>    <!-- END PRICING-3 WRAPPER -->


					<!-- BUTTON -->		
			 		<div class="row">
			 			<div class="col">
			 				<div class="more-btn mt-50">
								<p class="tra-link"><a href="pricing.html">View All Prices</a></p>
							</div>
						</div>
					</div>	<!-- END BUTTON -->	

						
				</div>     <!-- End container -->
			</section>	<!-- END PRICING-3 -->




			<!-- VIDEO-1
			============================================= -->
			<div id="video-1" class="bg-fixed video-section division">
				<div class="container white-color">
					<div class="row">


						<!-- VIDEO LINK -->	
			 			<div class="col-md-8 offset-md-2">
			 				<div class="video-1-preview">					
								<a class="video-popup1" href="https://www.youtube.com/embed/SZEflIVnhH8">  <!-- Change the link HERE!!! -->	

									<!-- Play Icon --> 							
									<div class="video-btn video-btn-xl bg--rose ico-90">	
										<div class="video-block-wrapper"><span class="flaticon-18"></span></div>
									</div>

								</a>
					 		</div>
			 			</div>

					
					</div>    <!-- End row -->	
				</div>	   <!-- End container -->						
			</div>	<!-- END VIDEO-1 -->




			<!-- PROMO-2
			============================================= -->
			<section id="promo-2" class="pt-100 promo-section division">
				<div class="container">


					<!-- SECTION TITLE -->
					<div class="row justify-content-center">	
						<div class="col-lg-10 col-xl-8">
							<div class="section-title title-01 mb-70">	

								<!-- Section ID -->	
					 			<span class="section-id">Nails And Beyond…</span>	

								<!-- Title -->	
								<h2 class="h2-lg">Nails For Every Budget</h2>	
									
							</div>	
						</div>
					</div>


					<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3">


						<!-- PROMO BOX #1 -->
						<div class="col align-self-end wow fadeInUp" data-wow-delay="0.3s">
							<a href="pricing.html">
								<div id="pb-2-1" class="promo-box">

									<!-- Text -->	
									<div class="promo-box-txt mb-30">	
							 			<p class="txt-upcase">From 09.11.21 To 23.11.21</p>
										<h5 class="h5-xl">30% OFF on Classic Manicure & Pedicure</h5>	
									</div>

									<!-- Image -->	
									<div class="promo-box-img">	
										<div class="hover-overlay"> 
											<img class="img-fluid" src="images/promo-05.jpg" alt="promo-image" />
											<div class="item-overlay"></div>
										</div>
									</div>

								</div> 
							</a>
						</div>


						<!-- PROMO BOX #2 -->
						<div id="promo-2-img" class="col wow fadeInUp" data-wow-delay="0.6s">
							<a href="pricing.html">
								<div id="pb-2-2" class="promo-box">
									<div class="hover-overlay"> 
										<img class="img-fluid" src="images/promo-06.jpg" alt="promo-image" />
										<div class="item-overlay"></div>
									</div>
								</div> 
							</a>
						</div>


						<!-- PROMO BOX #3 -->
						<div class="col align-self-start wow fadeInUp" data-wow-delay="0.9s">
							<a href="pricing.html">
								<div id="pb-2-3" class="promo-box">

									<!-- Image -->	
									<div class="promo-box-img">	
										<div class="hover-overlay"> 
											<img class="img-fluid" src="images/promo-07.jpg" alt="promo-image" />
											<div class="item-overlay"></div>
										</div>
									</div>

									<!-- Text -->	
									<div class="promo-box-txt mt-30">	
						 				<p class="txt-upcase">All Autumn Long!</p>	
										<h5 class="h5-xl">Prices Reduced On Spa Procedures UP TO 30%</h5>	
									</div>

								</div> 
							</a>
						</div>


					</div>    <!-- End row -->	
				</div>	   <!-- End container -->	
			</section>	<!-- END PROMO-2 -->




			<!-- BRANDS-1
			============================================= -->
			<div id="brands-1" class="brands-wide brands-section division">
				<div class="container">					
					<div class="row">
						<div class="col brands-1-wrapper text-center">	
							<div class="owl-carousel brands-1-carousel">
							
													
								<!-- BRAND LOGO IMAGE -->
								<div class="brand-logo">
									<img class="img-fluid" src="images/brand-1.png" alt="brand-logo" />
								</div>
													
								<!-- BRAND LOGO IMAGE -->
								<div class="brand-logo">
									<img class="img-fluid" src="images/brand-2.png" alt="brand-logo" />
								</div>
													
								<!-- BRAND LOGO IMAGE -->
								<div class="brand-logo">
									<img class="img-fluid" src="images/brand-3.png" alt="brand-logo" />
								</div>
													
								<!-- BRAND LOGO IMAGE -->
								<div class="brand-logo">
									<img class="img-fluid" src="images/brand-4.png" alt="brand-logo" />
								</div>
													
								<!-- BRAND LOGO IMAGE -->
								<div class="brand-logo">
									<img class="img-fluid" src="images/brand-5.png" alt="brand-logo">
								</div>
													
								<!-- BRAND LOGO IMAGE -->
								<div class="brand-logo">
									<img class="img-fluid" src="images/brand-6.png" alt="brand-logo" />
								</div>

								<!-- BRAND LOGO IMAGE -->
								<div class="brand-logo">
									<img class="img-fluid" src="images/brand-7.png" alt="brand-logo" />
								</div>
															
								<!-- BRAND LOGO IMAGE -->
								<div class="brand-logo">
									<img class="img-fluid" src="images/brand-8.png" alt="brand-logo" />
								</div>
								
								<!-- BRAND LOGO IMAGE -->
								<div class="brand-logo">
									<img class="img-fluid" src="images/brand-9.png" alt="brand-logo" />
								</div>


							</div>
						</div>
					</div>      <!-- End row -->
				</div>	    <!-- End container -->
			</div>	<!-- END BRANDS-1 -->




			<!-- PRICING-2
			============================================= -->
			<section id="pricing-2" class="white-smoke--shape pricing-section division">
				<div class="container">
					<div class="row d-flex align-items-center">
			 			

						<!-- PRICING-2 WRAPPER -->
						<div class="col-lg-6 order-last order-lg-2">
							<div class="pricing-2-wrapper wow fadeInRight">

								<!-- Section ID -->	
					 			<span class="section-id">Hands Care & Treatment</span>	

								<!-- Title -->
								<h4 class="h4-lg pricing-title">Other Services</h4>


								<!-- PRICING LIST -->
								<ul class="pricing-2-list">


									<!-- PRICING ITEM #1 -->
									<li class="pricing-2-item">

										<!-- Title & Price -->
										<div class="detail-price">
											<div class="price-name"><h5 class="h5-lg">Acrylic Removal</h5></div>
											<div class="price-dots"></div>
											<div class="price-number"><h5 class="h5-lg">$15</h5></div>
										</div>

										<!-- Description -->
										<div class="price-txt">
											<p class="p-md"><em>Service length 10-15 minutes</em></p>
										</div>
										
									</li>


									<!-- MENU ITEM #2 -->
									<li class="pricing-2-item">

										<!-- Title & Price -->
										<div class="detail-price">
											<div class="price-name"><h5 class="h5-lg">Clay Mask</h5></div>
											<div class="price-dots"></div>
											<div class="price-number"><h5 class="h5-lg">$15</h5></div>
										</div>

										<!-- Description -->
										<div class="price-txt">
											<p class="p-md"><em>Service length 15-20 minutes</em></p>
										</div>

									</li>


									<!-- MENU ITEM #3 -->
									<li class="pricing-2-item">

										<!-- Title & Price -->
										<div class="detail-price">
											<div class="price-name"><h5 class="h5-lg">Acrylic Full Set</h5></div>
											<div class="price-dots"></div>
											<div class="price-number"><h5 class="h5-lg">$42</h5></div>
										</div>

										<!-- Description -->
										<div class="price-txt">
											<p class="p-md"><em>Service length 35-40 minutes</em></p>
										</div>

									</li>


									<!-- MENU ITEM #4 -->
									<li class="pricing-2-item">

										<!-- Title & Price -->
										<div class="detail-price">
											<div class="price-name"><h5 class="h5-lg">Collagen Mask</h5></div>
											<div class="price-dots"></div>
											<div class="price-number"><h5 class="h5-lg">$12</h5></div>
										</div>

										<!-- Description -->
										<div class="price-txt">
											<p class="p-md"><em>Service length 15 minutes</em></p>
										</div>

									</li>


									<!-- MENU ITEM #5 -->
									<li class="pricing-2-item">

										<!-- Title & Price -->
										<div class="detail-price">
											<div class="price-name"><h5 class="h5-lg">Gel Color Change</h5></div>
											<div class="price-dots"></div>
											<div class="price-number"><h5 class="h5-lg">$30</h5></div>
										</div>

										<!-- Description -->
										<div class="price-txt">
											<p class="p-md"><em>Service length 20-30 minutes</em></p>
										</div>

									</li>


								</ul>	<!-- END PRICING LIST -->
									

							</div>
						</div>	<!-- END PRICING-2 WRAPPER -->


						<!-- PRICING-2 IMAGE -->
						<div class="col-lg-6 order-first order-lg-2">
							<div class="pricing-2-img wow fadeInLeft">
								<img class="img-fluid" src="images/800x700_4.jpg" alt="pricing-image">
							</div>
						</div>


			 		</div>    <!-- End row -->
				</div>	   <!-- End container -->
			</section>	<!-- END PRICING-2 -->




			<!-- TESTIMONIALS-1
			============================================= -->
			<section id="reviews-1" class="wide-100 reviews-section division">
				<div class="container">


					<!-- SECTION TITLE -->	
					<div class="row justify-content-center">	
						<div class="col-lg-10 col-xl-8">
							<div class="section-title title-01 mb-50">

								<!-- Section ID -->	
					 			<span class="section-id">Testimonials</span>	

								<!-- Title -->	
								<h2 class="h2-lg">What People Are Saying</h2>	

							</div>	
						</div>
					</div>


					<!-- TESTIMONIALS CONTENT -->
					<div class="row">
						<div class="col-md-12">					
							<div class="owl-carousel owl-theme reviews-wrapper">

						
								<!-- TESTIMONIAL #1 -->
								<div class="review-1">

									<!-- Quote Icon -->
									<div class="quote-icon ico-80 black--color"><span class="flaticon-left-quote"></span></div>

									<!-- Text -->
									<p class="p-xl">&Prime;Etiam sapien sagittis congue an augue massa varius egestas suscipit  magna a tempus 
										and aliquet rutrum magna &Prime;				   
									</p>

									<!-- Testimonial Author -->
									<span class="testimonial-autor black--color">&mdash; Rachel A.</span>	

								</div>	<!-- END TESTIMONIAL #1 -->
						
						
								<!-- TESTIMONIAL #2 -->
								<div class="review-1">

									<!-- Quote Icon -->
									<div class="quote-icon ico-80 black--color"><span class="flaticon-left-quote"></span></div>

									<!-- Text -->
									<p class="p-xl">&Prime;At sagittis congue augue undo egestas magna ipsum vitae purus primis suscipit and 
										blandit a cursus molestie at quisque sapien and integer congue magna&Prime; 
								  	</p>

								  	<!-- Testimonial Author -->
									<span class="testimonial-autor black--color">&mdash; Wendy T.</span>		

								</div>	<!-- END TESTIMONIAL #2 -->
						
						
								<!-- TESTIMONIAL #3 -->
								<div class="review-1">

									<!-- Quote Icon -->
									<div class="quote-icon ico-80 black--color"><span class="flaticon-left-quote"></span></div>

									<!-- Text -->
									<p class="p-xl">&Prime;Mauris donec ociis magnis sapien etiam sapien congue augue pretium and ligula augue 
										a lectus magna suscipit egestas a vitae purus integer congue&Prime; 
									</p>

									<!-- Testimonial Author -->
									<span class="testimonial-autor black--color">&mdash; Grace L.</span>		

								</div>	<!-- END TESTIMONIAL #3 -->


								<!-- TESTIMONIAL #4 -->
								<div class="review-1">

									<!-- Quote Icon -->
									<div class="quote-icon ico-80 black--color"><span class="flaticon-left-quote"></span></div>

									<!-- Text -->
									<p class="p-xl">&Prime;An augue in cubilia laoreet magna and suscipit egestas magna ipsum purus an ipsum 
									   undo suscipit gravida donec and pretium ipsum porta integer&Prime; 
									</p>

									<!-- Testimonial Author -->
									<span class="testimonial-autor black--color">&mdash; Michelle Boxer</span>	

								</div>	<!-- END TESTIMONIAL #4 -->
								
								
								<!-- TESTIMONIAL #5 -->
								<div class="review-1">

									<!-- Quote Icon -->
									<div class="quote-icon ico-80 black--color"><span class="flaticon-left-quote"></span></div>

									<!-- Text -->
									<p class="p-xl">&Prime;Mauris donec magnis a sapien etiam sapien and congue augue egestas ultrice vitae 
										purus velna integer tempor congue egestas a vitae purus&Prime; 
									</p>

									<!-- Testimonial Author -->
									<span class="testimonial-autor black--color">&mdash; Kelley Baker</span>		

								</div>	<!-- END TESTIMONIAL #5 -->
								
								
								<!-- TESTIMONIAL #6 -->
								<div class="review-1">

									<!-- Quote Icon -->
									<div class="quote-icon ico-80 black--color"><span class="flaticon-left-quote"></span></div>

									<!-- Text -->
									<p class="p-xl">&Prime;An augue cubilia laoreet magna sapien suscipit undo egestas magna ipsum ligula 
										vitae a purus cubilia a blandit and auctor integer congue magna undo justo purus pretium ligula 
										efficitur ipsum&Prime; 
									</p>

									<!-- Testimonial Author -->
									<span class="testimonial-autor black--color">&mdash; Sarah D.</span>	

								</div>	<!-- END TESTIMONIAL #6 -->
								
								
								<!-- TESTIMONIAL #7 -->
								<div class="review-1">

									<!-- Quote Icon -->
									<div class="quote-icon ico-80 black--color"><span class="flaticon-left-quote"></span></div>

									<!-- Text -->
									<p class="p-xl">&Prime;Augue egestas volutpat undo egestas augue in cubilia laoreet magna at primis libero 
										undo suscipit luctus congue magna undo purus pretium ligula rutrum&Prime; 
									</p>

									<!-- Testimonial Author -->
									<span class="testimonial-autor black--color">&mdash; Nicole Byer</span>		

								</div>	<!-- END TESTIMONIAL #7 -->


								<!-- TESTIMONIAL #8 -->
								<div class="review-1">

									<!-- Quote Icon -->
									<div class="quote-icon ico-80 black--color"><span class="flaticon-left-quote"></span></div>

									<!-- Text -->
									<p class="p-xl">&Prime;Aliquam augue a suscipit luctus neque purus ipsum neque dolor primis libero at tempus 
									   blandit posuere magna sagittis congue augue magna risus mauris and volutpat and egestas&Prime; 
									</p>

									<!-- Testimonial Author -->
									<span class="testimonial-autor black--color">&mdash; AJ</span>	

								</div>	<!-- END TESTIMONIAL #8 -->

							
							</div>
						</div>									
					</div>	<!-- END TESTIMONIALS CONTENT --> 


				</div>     <!-- End container -->
			</section>	<!-- END TESTIMONIALS-1 -->




			<!-- PROMO-4
			============================================= -->
			<section id="promo-4" class="rel promo-section division">
				<div class="container">
					<div class="row row-cols-1 row-cols-md-2 align-items-center">


						<!-- PROMO BOX #1 -->
						<div class="col">
							<div id="pb-4-1">
								<div class="pbox-4-description black--color">
									<div class="pbox-4-caption">

										<!-- Section ID -->	
									 	<span class="section-id">A Brush of Perfection</span>

										<!-- Title -->	
										<h3 class="h3-md">Follow & Share</h3>	

										<!-- Link -->	
										<h2 class="h2-xl"><a href="#">@la_notte_nail</a></h2>

										<!-- Button -->	
										<a href="gallery.html" class="btn rose--btn tra-black--hover">View Our Gallery</a>

									</div>																				 
								</div> 
							</div> 
						</div>	<!-- END PROMO BOX #1 -->


						<!-- PROMO BOX #2 -->
						<div class="col">
							<div id="pb-4-2">
								<div class="pbox-4-description white--color">
									<div class="pbox-4-caption">

										<!-- Section ID -->	
									 	<span class="section-id">Make It Happen</span>

										<!-- Title -->	
										<h2>Gigt <span>Cards</span></h2>	

										<!-- Button -->	
										<a href="gift-cards.html" class="btn tra-white--btn rose--hover">Find Out More</a>

									</div>																				 
								</div> 
							</div>
						</div>	<!-- END PROMO BOX #2 -->


					</div>    <!-- End row -->	
				</div>	   <!-- End container -->	
			</section>	<!-- END PROMO-4 -->




			<!-- BLOG-1
			============================================= -->
			<section id="blog-1" class="wide-60 blog-section division">				
				<div class="container">


					<!-- SECTION TITLE -->	
					<div class="row justify-content-center">	
						<div class="col-lg-10 col-xl-8">
							<div class="section-title title-01 mb-70">

								<!-- Section ID -->	
					 			<span class="section-id">From The Blog</span>	

								<!-- Title -->	
								<h2 class="h2-lg">Latest News & Events</h2>	

							</div>	
						</div>
					</div>


			 		<!-- BLOG POSTS -->
				 	<div class="row row-cols-1 row-cols-sm-2 row-cols-lg-3">


				 		<!-- BLOG POST #1 -->
				 		<div class="col">
				 			<div id="bp-1-1" class="blog-1-post mb-40 wow fadeInUp" data-wow-delay="0.3s">

					 			<!-- BLOG POST IMAGE -->
					 			<div class="blog-post-img">
					 				<div class="hover-overlay"> 
										<img class="img-fluid" src="images/blog/700x600_1.jpg" alt="blog-post-image" />
										<div class="item-overlay"></div>
									</div>
								</div>

								<!-- BLOG POST TEXT -->
								<div class="blog-post-txt">

									<!-- Post Tag -->
									<p class="post-tag">Manicure, Trends <span>|</span> Dec 04, 2021</p>	

									<!-- Post Link -->
									<h5 class="h5-md black--color">
										<a href="single-post.html">Integer turpis and donec ipsum a gravida porta sapien</a>
									</h5>

									<!-- Text -->
									<p class="p-lg">Mullam blandit tempor sapien gravida and donec and ipsum porta justo...</p>

								</div>	<!-- END BLOG POST TEXT -->

							</div>
				 		</div>	<!-- END  BLOG POST #1 -->


						<!-- BLOG POST #2 -->
				 		<div class="col">
				 			<div id="bp-1-2" class="blog-1-post mb-40 wow fadeInUp" data-wow-delay="0.6s">

					 			<!-- BLOG POST IMAGE -->
					 			<div class="blog-post-img">
					 				<div class="hover-overlay"> 
										<img class="img-fluid" src="images/blog/700x700_4.jpg" alt="blog-post-image" />
										<div class="item-overlay"></div>
									</div>
								</div>

								<!-- BLOG POST TEXT -->
								<div class="blog-post-txt">

									<!-- Post Tag -->
									<p class="post-tag">Feet Treatment <span>|</span> Nov 29, 2021</p>	

									<!-- Post Link -->
									<h5 class="h5-md black--color">
										<a href="single-post.html">A ligula risus sapien auctor and gravida tempus congue</a>
									</h5>

									<!-- Text -->
									<p class="p-lg">A nullam tempor famesa integer sapien gravida donec and pretium ipsum...</p>

								</div>	<!-- END BLOG POST TEXT -->

							</div>
				 		</div>	<!-- END  BLOG POST #2 -->


				 		<!-- BLOG POST #3 -->
				 		<div class="col">
				 			<div id="bp-1-3" class="blog-1-post mb-40 wow fadeInUp" data-wow-delay="0.9s">

					 			<!-- BLOG POST IMAGE -->
					 			<div class="blog-post-img">
					 				<div class="hover-overlay"> 
										<img class="img-fluid" src="images/blog/700x600_2.jpg" alt="blog-post-image" />
										<div class="item-overlay"></div>
									</div>
								</div>

								<!-- BLOG POST TEXT -->
								<div class="blog-post-txt">

									<!-- Post Tag -->
									<p class="post-tag">Hands Care <span>|</span> Nov 24, 2021</p>	

									<!-- Post Link -->
									<h5 class="h5-md black--color">
										<a href="single-post.html">Donec sapien augue integer an ipsum and turpis cursus</a>
									</h5>

									<!-- Text -->
									<p class="p-lg">An orci nullam tempor sapien, gravida orci donec enim ipsum porta
									   justo integer odio velna auctor a purus egestas volute...
									</p>

								</div>	<!-- END BLOG POST TEXT -->

							</div>
				 		</div>	<!-- END  BLOG POST #3 -->


					</div>	<!-- END BLOG POSTS -->


				</div>	   <!-- End container -->		
			</section>	<!-- END BLOG-1 -->




			<!-- BANNER-5
			============================================= -->
			<section id="banner-5" class="banner-section division">
				<div class="container">
					<div class="banner-5-wrapper bg-fixed">
						<div class="row">


							<!-- BANNER TEXT -->
							<div class="col-sm-10 col-md-8 col-lg-7">
								<div class="banner-5-txt">

									<!-- Section ID -->	
					 				<span class="section-id black--color">Elegance In Every Stroke</span>	

									<!-- Title -->	
									<h2 class="h2-xs">Get the nails you've been dreaming of…</h2>

									<!-- Button -->
									<a href="booking.html" class="btn rose--btn tra-black--hover">Booking Online</a>

								</div>
							</div>	<!-- END BANNER TEXT -->


						</div>    <!-- End row -->	
					</div>
				</div>	   <!-- End container -->	
			</section>	<!-- END BANNER-5 -->

    
{% endblock content %}
    