{% extends 'base.html' %}
{% load static %}

{% block content %}
<section id="careers-page" class="bg-fixed page-hero-section division">
    <div class="container">	


        <!-- PAGE HERO TEXT -->
        <div class="row justify-content-center">	
            <div class="col-md-10 col-xl-8">
                <div class="hero-txt text-center white--color">
                    <h2 class="h2-xl">Vote Your Winner</h2>	
                </div>	
            </div>
        </div>


        <!-- BREADCRUMB -->
        <div id="breadcrumb">
            <div class="row d-flex align-items-center">					
                <div class="col">
                    <div class="breadcrumb-nav">
                        <nav aria-label="breadcrumb">
                              <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="/">Home</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Contestant {{contestant.name}}</li>
                              </ol>
                        </nav>
                    </div>
                </div>
            </div> 
        </div>	<!-- END BREADCRUMB -->


    </div>	   <!-- End container --> 
</section>

<section id="single-post" class="wide-80 inner-page-hero blog-page-section division">
    <div class="container">
         <div class="row">


             <!-- SINGLE POST CONTENT -->
             <div class="col-lg-10 offset-lg-1">
                 <div class="post-content">


                     <!-- TITLE -->
                     <div class="single-post-title text-center">

                         <!-- Title -->
                         <h2 class="h2-sm">Miss Epitome Presents To You</h2>

                         <!-- Post Tag -->
                        <p class="post-tag">
                            <a href="javascript:void(0)">{{contestant.name}}</a> <span>|</span> Manicure, Trends <span>|</span> {{contestant.date_reg|date:"D d M Y"}}
                        </p>	

                    </div>


                    <!-- SINGLE POST IMAGE -->
                     <div class="blog-post-img mt-50 mb-50 text-center">
                        <img class="img-fluid" src="{{contestant.reg_image.url}}" style="height: 500px;" alt="blog-post-image">	
                    </div>


                    <!-- SINGLE POST TEXT -->
                    <div class="single-post-txt">

                        <!-- Text -->
                        

                        <!-- Small Title -->
                        <div class="row">
                            <div class="col-lg-6">
                                <h5 class="h5-lg">Total Votes- {{contestant.votes}}</h5>

                            </div>
                            <div class="col-lg-6">
                                <h5 class="h5-lg d-flex justify-content-right">
                                    Amount - <span>&#8358;</span> {{contestant.get_display_price}}
                                </h5>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <!-- <button class="btn rose--btn black--hover" id="checkout-button" type="button">Click To Vote</button> -->
                                <form id="paymentForm">

                                    <div class="form-group">
                                  
                                      <label for="email">Email Address</label>
                                  
                                      <input type="email" id="email-address" required />
                                  
                                    </div>
                                  
                                    <!-- <div class="form-group">
                                  
                                      <label for="amount">Amount</label>
                                  
                                      <input type="tel" id="amount" required />
                                  
                                    </div> -->
                                  
                                    <div class="form-group">
                                  
                                      <label for="first-name">First Name</label>
                                  
                                      <input type="text" id="first-name" />
                                  
                                    </div>
                                  
                                    <div class="form-group">
                                  
                                      <label for="last-name">Last Name</label>
                                  
                                      <input type="text" id="last-name" />
                                  
                                    </div>
                                  
                                    <div class="form-submit">
                                  
                                      <button type="submit" onclick="payWithPaystack()"> Pay </button>
                                  
                                    </div>
                                  
                                  </form>
                            </div>
                            
                        </div>

                        <!-- List -->
                        <!-- <ul class="simple-list">
                            
                            <li class="list-item">
                                <p class="p-lg">Donec dolor magna, suscipit in magna dignissim, porttitor hendrerit diam. Nunc gravida
                                   ultrices felis eget faucibus. Praesent aliquet tempus, blandit posuere ligula varius
                                </p>
                            </li>

                            <li class="list-item">
                                <p class="p-lg">Fringilla risus nec, luctus mauris orci auctor euismod purus pretium purus pretium ligula
                                   rutrum tempor mullam blandit tempor sapien and gravida donec ipsum at justo
                                </p>
                            </li>

                            <li class="list-item">
                                <p class="p-lg">Quaerat sodales sapien undo euismod purus blandit velna vitae auctor a congue magna tempor
                                   sapien eget gravida laoreet turpis urna augue, viverra a augue eget, dictum tempor diam pulvinar in
                                   cubilia laoreet augue donec
                               </p>
                            </li>

                        </ul> -->

                    </div>	<!-- END SINGLE POST TEXT -->


                    <!-- SINGLE POST SHARE LINKS -->
                    <div class="row post-share-links d-flex align-items-center">

                        <!-- POST SHARE ICONS -->
                        <div class="col-sm-12 col-xl-12 post-share-list text-end">
                            <ul class="share-social-icons ico-25 theme-color text-center clearfix">						
                                <li><a href="#" class="share-ico"><span class="flaticon-twitter"></span></a></li>
                                <li><a href="#" class="share-ico"><span class="flaticon-facebook"></span></a></li>
                                <li><a href="#" class="share-ico"><span class="flaticon-15"></span></a></li>
                            </ul>
                        </div>

                    </div>	<!-- END SINGLE POST SHARE -->


                    <!-- POST COMMENTS -->
                    
                    <!-- END POST COMMENTS -->


                 </div>
             </div>	<!-- ENDSINGLE POST CONTENT -->


         </div>    <!-- End row -->
     </div>    <!-- End container -->
</section>
{% csrf_token %}


{% block scripts %}
<script type="text/javascript">
    const paymentForm = document.getElementById('paymentForm');

paymentForm.addEventListener("submit", payWithPaystack, false);

function payWithPaystack(e) {

  e.preventDefault();

  let handler = PaystackPop.setup({

    key: 'pk_test_3a5d404a8cb4d44d0e62961388ca29e1084c7887', // Replace with your public key

    email: document.getElementById("email-address").value,

    amount: "{{contestant.amount}}" * 100,
    currency: 'NGN', 

    ref: ''+Math.floor((Math.random() * 1000000000) + 1), // generates a pseudo-unique reference. Please replace with a reference you generated. Or remove the line entirely so our API will generate one for you

    // label: "Optional string that replaces customer email"

    onClose: function(){

      alert('Window closed.');

    },

    callback: function(response){
        window.location = "http://127.0.0.1:8000" + response.reference;

      //let message = 'Payment complete! Reference: ' + response.reference;
        
      //alert(message);

    }

  });

  handler.openIframe();

}
</script>
<!-- <script type="text/javascript">
    const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;
    // Create an instance of the Stripe object with your publishable API key
    var stripe = Stripe("pk_test_51H2Hm2EMcQisWvWMWrtkOXejjtDLubkoZRZtNWlxckjxsPOopoqWUnsV8pJa6iBPFmX9jUzyGbHTyVYJJjKoawFf00VCCx7nBg");
    var checkoutButton = document.getElementById("checkout-button");
    checkoutButton.addEventListener("click", function () {
      fetch("{% url 'create-checkout-session' contestant.id %}", {
        method: "POST",
        headers: {
            'X-CSRFToken': csrftoken
        }
      })
        .then(function (response) {
          return response.json();
        })
        .then(function (session) {
          return stripe.redirectToCheckout({ sessionId: session.id });
        })
        .then(function (result) {
          // If redirectToCheckout fails due to a browser or network
          // error, you should display the localized error message to your
          // customer using error.message.
          if (result.error) {
            alert(result.error.message);
          }
        })
        .catch(function (error) {
          console.error("Error:", error);
        });
    });

  </script> -->
{% endblock scripts %}
    
    
{% endblock %}
    