{% extends 'base.html' %}
{% load static %}

{% block content %}

<section id="careers-page" class="bg-fixed page-hero-section division">
    <div class="container">	


        <!-- PAGE HERO TEXT -->
        <div class="row justify-content-center">	
            <div class="col-md-10 col-xl-8">
                <div class="hero-txt text-center white--color">
                    <h2 class="h2-xl">Vote Your Winner</h2>	
                </div>	
            </div>
        </div>


        <!-- BREADCRUMB -->
        <div id="breadcrumb">
            <div class="row d-flex align-items-center">					
                <div class="col">
                    <div class="breadcrumb-nav">
                        <nav aria-label="breadcrumb">
                              <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="/">Home</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Contestant {{contestant.name}}</li>
                              </ol>
                        </nav>
                    </div>
                </div>
            </div> 
        </div>	<!-- END BREADCRUMB -->


    </div>	   <!-- End container --> 
</section>

<section id="single-post" class="wide-80 inner-page-hero blog-page-section division">
    <div class="container">
         <div class="row">


             <!-- SINGLE POST CONTENT -->
             <div class="col-lg-10 offset-lg-1">
                 <div class="post-content">


                     <!-- TITLE -->
                     <div class="single-post-title text-center">

                         <!-- Title -->
                         <h2 class="h2-sm">Miss Epitome Presents To You</h2>

                         <!-- Post Tag -->
                        <p class="post-tag">
                            <a href="javascript:void(0)">{{contestant.name}}</a> <span>|</span> Manicure, Trends <span>|</span> {{contestant.date_reg|date:"D d M Y"}}
                        </p>	

                    </div>


                    <!-- SINGLE POST IMAGE -->
                     <div class="blog-post-img mt-50 mb-50">
                        <img class="img-fluid" src="{{contestant.reg_image.url}}" alt="blog-post-image">	
                    </div>


                    <!-- SINGLE POST TEXT -->
                    <div class="single-post-txt">

                        <!-- Text -->
                        <p class="p-lg">Aliqum mullam blandit tempor sapien gravida donec ipsum, at porta justo. Velna vitae auctor and
                           congue magna nihil impedit ligula risus. Mauris donec ociis et magnis sapien sagittis sapien undo congue a 
                           tempor gravida donec enim ipsum porta justo integer odio velna a purus efficitur ipsum primis undo cubilia
                           laoreet augue egestas luctus donec purus and blandit sodales in magna dignissim an ultrices felis faucibus.
                        </p>

                        <!-- Text -->
                        <p class="p-lg">Maecenas gravida porttitor nunc, quis vehicula magna luctus tempor. Quisque laoreet turpis augue,
                           viverra a augue eget, dictum tempor diam. Sed  pulvinar consectetur and placerat imperdiet a varius viverra. Turpis urna augue ac massa lorem fusce cursus aliquet elementum laoreet turpis urna augue. 
                        </p>

                        <!-- Small Title -->
                        <h5 class="h5-lg">Total Votes- {{contestant.votes}}</h5>

                        <div class="row">
                            <form action="{% url 'contestant' contestant.id %}" method="post">
                                {% csrf_token %}
                                <div class="col-md-6">
                                    <button class="btn rose--btn black--hover" type="submit">Click To Vote</button>
                                </div>

                            </form>
                            
                        </div>

                        <!-- List -->
                        <!-- <ul class="simple-list">
                            
                            <li class="list-item">
                                <p class="p-lg">Donec dolor magna, suscipit in magna dignissim, porttitor hendrerit diam. Nunc gravida
                                   ultrices felis eget faucibus. Praesent aliquet tempus, blandit posuere ligula varius
                                </p>
                            </li>

                            <li class="list-item">
                                <p class="p-lg">Fringilla risus nec, luctus mauris orci auctor euismod purus pretium purus pretium ligula
                                   rutrum tempor mullam blandit tempor sapien and gravida donec ipsum at justo
                                </p>
                            </li>

                            <li class="list-item">
                                <p class="p-lg">Quaerat sodales sapien undo euismod purus blandit velna vitae auctor a congue magna tempor
                                   sapien eget gravida laoreet turpis urna augue, viverra a augue eget, dictum tempor diam pulvinar in
                                   cubilia laoreet augue donec
                               </p>
                            </li>

                        </ul> -->

                    </div>	<!-- END SINGLE POST TEXT -->


                    <!-- SINGLE POST SHARE LINKS -->
                    <div class="row post-share-links d-flex align-items-center">

                        <!-- POST TAGS -->
                        <div class="col-sm-9 col-xl-8 post-tags-list">
                            <span><a href="#">Tips &amp; Tricks</a></span>	
                            <span><a href="#">Trending Ideas</a></span>
                            <span><a href="#">Advice</a></span>										
                        </div>

                        <!-- POST SHARE ICONS -->
                        <div class="col-sm-3 col-xl-4 post-share-list text-end">
                            <ul class="share-social-icons ico-25 theme-color text-center clearfix">						
                                <li><a href="#" class="share-ico"><span class="flaticon-twitter"></span></a></li>
                                <li><a href="#" class="share-ico"><span class="flaticon-facebook"></span></a></li>
                                <li><a href="#" class="share-ico"><span class="flaticon-15"></span></a></li>
                            </ul>
                        </div>

                    </div>	<!-- END SINGLE POST SHARE -->


                    <!-- POST COMMENTS -->
                    <div class="post-comments">
                        <div class="comments-wrapper">


                            <!-- Title -->	
                            <h5 class="h5-xl">4 Comments</h5>


                            <!-- COMMENT #1 -->
                            <div class="comment d-flex">

                                <!-- Comment-1 Avatar -->
                                  <img src="images/comment-author-1.jpg" alt="comment-avatar">

                                  <!-- Comment-Body -->
                                  <div class="comment-body">

                                      <!-- Comment-1 Meta -->
                                     <div class="comment-meta">
                                         <h6 class="h6-lg">Tucker</h6>						
                                           <span class="comment-date">5 days ago - </span>
                                        <span class="btn-reply ico-20">
                                            <a href="#leave-comment"><span class="flaticon-23"></span> Reply</a>
                                        </span>
                                    </div>
                                    
                                    <!-- Comment-1 Text -->	
                                       <p class="p-lg mb-40">Etiam sapien sem magna at vitae pulvinar congue augue egestas pretium neque 
                                           undo viverra suscipit egestas magna porta ratione, mollis risus lectus porta rutrum aenean primis 
                                           in augue luctus neque purus ipsum neque dolor primis purus efficitur an ipsum primis cubilia
                                       </p>

                                       <hr>

                                       <!-- Nested Comment -->
                                    <div class="comment d-flex">

                                        <!-- Nested Avatar -->
                                          <a href="#" class="pr-3">
                                            <img src="images/comment-author-2.jpg" alt="comment-avatar">
                                          </a>

                                          <div class="comment-body">

                                              <!-- Comment-2 Meta -->
                                             <div class="comment-meta">
                                                   <h6 class="h6-lg">Cindy Harper</h6>
                                                   <span class="comment-date">6 days ago - </span>
                                                <span class="btn-reply ico-20">
                                                    <a href="#leave-comment"><span class="flaticon-23"></span> Reply</a>
                                                </span>
                                            </div>

                                            <!-- Comment-2 Text -->	
                                               <p class="p-lg">Etiam sapien magna at vitae pulvinar congue egestas a pretium neque viverra
                                                   suscipit porta ratione, mollis risus lectus porta aliquet lorem puruss mollis 
                                               </p>

                                          </div>	

                                    </div>	<!-- End Nested Comment -->


                                  </div>


                            </div>	<!-- END COMMENT #1 -->	


                            <hr>	


                            <!-- COMMENT #3 -->
                            <div class="comment d-flex">

                                <!-- Comment Avatar -->
                                  <img src="images/comment-author-3.jpg" alt="comment-avatar">

                                  <!-- Comment Body -->
                                 <div class="comment-body">

                                     <!-- Comment Meta -->
                                     <div class="comment-meta">
                                           <h6 class="h6-lg">Anne Steiner</h6>
                                           <span class="comment-date">13 days ago - </span>
                                        <span class="btn-reply ico-20">
                                            <a href="#leave-comment"><span class="flaticon-23"></span> Reply</a>
                                        </span>
                                    </div>
                                    
                                    <!-- Comment Text -->	
                                       <p class="p-lg">Porta ratione, mollis risus lectus porta rutrum arcu aenean primis in augue luctus and
                                           neque purus ipsum neque dolor primis libero tempus, tempor posuere ligula varius an impedit enim
                                           tempor vitae pulvinar at congue augue egestas praesent aliquet 
                                       </p>

                                   </div>	<!-- End Comment Body -->

                            </div>	<!-- END COMMENT #3 -->	


                            <hr>


                            <!-- COMMENT #4 -->
                            <div class="comment d-flex">

                                <!-- Comment Avatar -->
                                  <img src="images/comment-author-4.jpg" alt="comment-avatar">

                                  <!-- Comment Body -->
                                 <div class="comment-body">

                                     <!-- Comment Meta -->
                                     <div class="comment-meta">
                                           <h6 class="h6-lg">Nikki T. Johnson</h6>
                                           <span class="comment-date">42 days ago - </span>
                                        <span class="btn-reply ico-20">
                                            <a href="#leave-comment"><span class="flaticon-23"></span> Reply</a>
                                        </span>
                                    </div>
                                    
                                    <!-- Comment Text -->	
                                       <p class="p-lg">Etiam sapien sem magna at vitae pulvinar congue augue egestas pretium neque undo 
                                           viverra suscipit egestas magna porta ratione, mollis risus lectus porta rutrum arcu
                                       </p>

                                   </div>	<!-- End Comment Body -->

                            </div>	<!-- END COMMENT #4 -->		


                            <hr>


                            <!-- COMMENT FORM -->
                            <div id="leave-comment">
                                
                                <!-- Title -->
                                <h5 class="h5-xl">Leave a Comment</h5>
                                
                                <!-- Text -->
                                <p class="p-lg">Your email address will not be published. Required fields are marked *</p>

                                <form name="commentForm" class="row comment-form" novalidate="novalidate">

                                    <div class="col-md-12 input-message">
                                        <p class="black--color">Add Comment *</p>
                                        <textarea class="form-control message" name="message" rows="6" placeholder="Enter Your Comment Here* ..." required=""></textarea>
                                    </div> 
                                                        
                                    <div class="col-md-12">
                                        <p class="black--color">Name*</p>
                                        <input type="text" name="name" class="form-control name" placeholder="Enter Your Name*" required=""> 
                                    </div>
                                            
                                    <div class="col-md-12">
                                        <p class="black--color">Email*</p>
                                        <input type="email" name="email" class="form-control email" placeholder="Enter Your Email*" required=""> 
                                    </div>
                                                     
                                    <!-- Contact Form Button -->
                                    <div class="col-lg-12 form-btn"> 						                 
                                        <button type="submit" class="btn rose--btn tra-black--hover submit">
                                           Post Comment
                                        </button> 
                                    </div>
                                                                                  
                                    <!-- Contact Form Message -->
                                    <div class="col-md-12 comment-form-msg text-center">
                                        <div class="sending-msg"><span class="loading"></span></div>
                                    </div>  
                                                              
                                </form>									
                            
                            </div>	<!-- END COMMENT FORM -->


                        </div>	<!-- End comments-wrapper -->
                    </div>	<!-- END POST COMMENTS -->


                 </div>
             </div>	<!-- ENDSINGLE POST CONTENT -->


         </div>    <!-- End row -->
     </div>    <!-- End container -->
</section>
    
{% endblock content %}
    