<footer id="footer-3" class="1bg--deep-blue footer division">
    <div class="container 1white-smoke--color">


        <!-- FOOTER CONTENT -->
        <div class="row">


            <!-- FOOTER CONTACTS -->
            <div class="col-sm-6 col-lg-6">
                <div class="footer-contacts mb-30">

                    <!-- Title -->
                    <h5 class="h5-md">Location</h5>

                    <!-- Salon Name -->
                    <p class="p-lg txt-600">Epitome Studio</p>

                    <!-- Address -->
                    <p class="p-lg"> Lagos, Nigeria</p> 

                </div>
            </div>


            <!-- FOOTER CONTACTS -->
            <div class="col-sm-6 col-lg-6">
                <div class="footer-contacts mb-30">

                    <!-- Title -->
                    <h5 class="h5-md">Contacts</h5>
                
                    <!-- Phone -->
                    <p class="p-lg"><a href="tel:+2348184630930">ph: +2348184630930</a></p>

                    <!-- Email -->
                    <p class="p-lg"><a href="mailto:missepitomenigeria@gmail.com" class="txt-600">missepitomenigeria@gmail.com</a></p>

                    <!-- List -->
                    <ul class="foo-socials ico-20 text-center clearfix">											
                        <li><a href="https://www.instagram.com/miss_epitome_nigeria/" class="ico-facebook"><span class="flaticon-instagram"></span></a></li>
                        <li><a href="https://www.youtube.com/channel/UCtjwo_tjEH2E5nEQdPn_LYg/featured" class="ico-youtube"><span class="flaticon-youtube"></span></a></li>	
                        <li><a href="https://web.facebook.com/Epitomenigeria98/?_rdc=1&_rdr" class="ico-facebook"><span class="flaticon-facebook"></span></a></li>	
                        <!-- <li><a href="#" class="ico-youtube"><span class="flaticon-yelp"></span></a></li>
                        <li><a href="#" class="ico-youtube"><span class="flaticon-vimeo"></span></a></li> -->
                    </ul>

                </div>
            </div>

        </div>	  <!-- END FOOTER CONTENT -->


        <!-- BOTTOM FOOTER -->
        <div class="bottom-footer">
            <div class="row row-cols-1 row-cols-md-2 d-flex align-items-center">


                <!-- FOOTER COPYRIGHT -->
                <div class="col">
                    <div class="footer-copyright"><p class="p-md">&copy; 2021 Miss Epitome. All Rights Reserved</p></div>
                </div>


                <!-- BOTTOM FOOTER LINKS -->
                <div class="col">
                    <ul class="bottom-footer-list text-end">
                        <li class="first-li"><p class="p-md"><a href="javascript:void(0)">Faqs</a></p></li>
                        <!-- <li class="last-li"><p class="p-md"><a href="#">Terms & Conditions</a></p></li> -->
                    </ul>
                </div>


            </div>  <!-- End row -->
        </div>	<!-- BOTTOM FOOTER -->


    </div>	   <!-- End container -->										
</footer>