<footer id="footer-3" class="1bg--deep-blue footer division">
    <div class="container 1white-smoke--color">


        <!-- FOOTER CONTENT -->
        <div class="row">


            <!-- FOOTER CONTACTS -->
            <div class="col-sm-6 col-lg-3">
                <div class="footer-contacts mb-30">

                    <!-- Title -->
                    <h5 class="h5-md">Location</h5>

                    <!-- Salon Name -->
                    <p class="p-lg txt-600">La Notte Studio</p>

                    <!-- Address -->
                    <p class="p-lg"> Los Angeles, 8721 M Central Avenue, CA 9003</p> 

                </div>
            </div>


            <!-- FOOTER CONTACTS -->
            <div class="col-sm-6 col-lg-3">
                <div class="footer-contacts mb-30">

                    <!-- Title -->
                    <h5 class="h5-md">Contacts</h5>
                
                    <!-- Phone -->
                    <p class="p-lg"><a href="tel:123456789">ph: +12 9 8765 4321</a></p>

                    <!-- Email -->
                    <p class="p-lg"><a href="mailto:yourdomain@mail.com" class="txt-600">hello@yourdomain.com</a></p>

                    <!-- List -->
                    <ul class="foo-socials ico-20 text-center clearfix">											
                        <li><a href="#" class="ico-facebook"><span class="flaticon-instagram"></span></a></li>
                        <li><a href="#" class="ico-twitter"><span class="flaticon-facebook"></span></a></li>	
                        <li><a href="#" class="ico-youtube"><span class="flaticon-yelp"></span></a></li>
                        <li><a href="#" class="ico-youtube"><span class="flaticon-vimeo"></span></a></li>
                    </ul>

                </div>
            </div>


            <!-- FOOTER CONTACTS -->
            <div class="col-sm-6 col-lg-3">
                <div class="footer-info mb-30">

                    <!-- Title -->
                    <h5 class="h5-md">Opening Hours</h5>
                    
                    <!-- Text -->	
                    <p class="p-lg">Mon-Fri: 10:00AM - 9:00PM</p>
                    <p class="p-lg">Saturday: 10:00AM - 7:00PM</p>
                    <p class="p-lg">Sunday: 10:00PM - 7:00PM</p>

                </div>
            </div>


            <!-- FOOTER GOOGLE MAP -->
            <div class="col-sm-6 col-lg-3">
                <div class="google-map mb-30">	
                    <a href="https://www.google.com/maps/place/121+King+St,+Melbourne+VIC+3000,+Австралия/@-37.817251,144.9535863,17z/data=!3m1!4b1!4m5!3m4!1s0x6ad65d4dd5a05d97:0x3e64f855a564844d!8m2!3d-37.817251!4d144.955775" target="_blank">
                    <img class="img-fluid" src="images/footer-map.jpg" alt="footer-map">
                    </a>								
                </div>
            </div>	<!-- END FOOTER GOOGLE MAP -->


        </div>	  <!-- END FOOTER CONTENT -->


        <!-- BOTTOM FOOTER -->
        <div class="bottom-footer">
            <div class="row row-cols-1 row-cols-md-2 d-flex align-items-center">


                <!-- FOOTER COPYRIGHT -->
                <div class="col">
                    <div class="footer-copyright"><p class="p-md">&copy; 2021 La Notte. All Rights Reserved</p></div>
                </div>


                <!-- BOTTOM FOOTER LINKS -->
                <div class="col">
                    <ul class="bottom-footer-list text-end">
                        <li class="first-li"><p class="p-md"><a href="#">Privacy Policy</a></p></li>
                        <li class="last-li"><p class="p-md"><a href="#">Terms & Conditions</a></p></li>
                    </ul>
                </div>


            </div>  <!-- End row -->
        </div>	<!-- BOTTOM FOOTER -->


    </div>	   <!-- End container -->										
</footer>