{% load static %}

{% if 'all-contestants/' in request.path %}
<header id="header" class="header white-menu navbar-dark">

{% else %}
<header id="header" class="header tra-menu navbar-light">
{% endif %}
  
    <div class="header-wrapper">


        <!-- MOBILE HEADER -->
        <div class="wsmobileheader clearfix">	  	
            <span class="smllogo"><img src="{% static 'images/logo-01.png' %}" alt="mobile-logo"/></span>
            <a id="wsnavtoggle" class="wsanimated-arrow"><span></span></a>	
            <a href="tel:123456789" class="callusbtn ico-20"><span class="flaticon-phone-call-1"></span></a>
         </div>


         <!-- NAVIGATION MENU -->
          <div class="wsmainfull menu clearfix">
            <div class="wsmainwp clearfix">


                <!-- HEADER LOGO -->
                <div class="desktoplogo"><a href="/" class="logo-black"><img src="{% static 'epitome-removebg(1).png' %}" alt="header-logo"></a></div>
                <div class="desktoplogo"><a href="/" class="logo-white"><img src="{% static 'epitome-removebg(1).png' %}" alt="header-logo"></a></div>


                <!-- MAIN MENU -->
                  <nav class="wsmenu clearfix">
                    <ul class="wsmenu-list">


                        <!-- DROPDOWN MENU -->
                          <li aria-haspopup="true"><a href="{% url 'about' %}">About</a>
    
                        </li>

                        <li aria-haspopup="true"><a href="{% url 'all-contestants' %}">Contestants</a>
    
                        </li>

                        <!-- SIMPLE NAVIGATION LINK -->
                        <li class="nl-simple" aria-haspopup="true"><a href="{% url 'gallery' %}">Gallery</a></li>


                        <!-- SIMPLE NAVIGATION LINK -->
                        <li class="nl-simple" aria-haspopup="true"><a href="{% url 'register' %}">Apply</a></li>


                        <!-- SIMPLE NAVIGATION LINK -->
                        <!-- <li class="nl-simple" aria-haspopup="true"><a href="#blog-1">Blog</a></li> -->


                        <!-- HEADER BUTTON -->
                        <li class="nl-simple" aria-haspopup="true">
                            <a href="{% url 'contact-us' %}" class="btn tra-white--btn rose--hover last-link">Contacts</a>
                        </li> 


                    </ul>
                </nav>	<!-- END MAIN MENU -->


            </div>
        </div>	<!-- END NAVIGATION MENU -->


    </div>     <!-- End header-wrapper -->
</header>