{% load static %}
<script src="{% static 'js/jquery-3.6.0.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>	
<script src="{% static 'js/modernizr.custom.js' %}"></script>
<script src="{% static 'js/jquery.easing.js' %}"></script>
<script src="{% static 'js/jquery.appear.js' %}"></script>
<script src="{% static 'js/jquery.scrollto.js' %}"></script>	
<script src="{% static 'js/menu.js' %}"></script>
<script src="{% static 'js/materialize.js' %}"></script>
<script src="{% static 'js/datetimepicker.js' %}"></script>	
<script src="{% static 'js/jquery.vide.min.js' %}"></script>
<script src="{% static 'js/imagesloaded.pkgd.min.js' %}"></script>
<script src="{% static 'js/isotope.pkgd.min.js' %}"></script>
<script src="{% static 'js/jquery.flexslider.js' %}"></script>
<script src="{% static 'js/owl.carousel.min.js' %}"></script>
<script src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>
<script src="{% static 'js/booking-form.js' %}"></script>	
<script src="{% static 'js/contact-form.js' %}"></script>	
<script src="{% static 'js/jquery.validate.min.js' %}"></script>
<script src="{% static 'js/jquery.ajaxchimp.min.js' %}"></script>	
<script src="{% static 'js/wow.js' %}"></script>
        
<!-- Custom Script -->		
<script src="{% static 'js/custom.js'%}"></script>

<script src="{% static 'js/changer.js'%}"></script>
<script defer src="{% static 'js/styleswitch.js'%}"></script>	

