{% load static %}
<!DOCTYPE html>
<html lang="en">
    {% include 'includes/head.html' %}


	<body>



		<!-- PRELOADER SPINNER
		============================================= -->
		<div id="loading" class="rose-loading">
			<div id="loading-center">
				<div class="spinner">
				  	<div class="blob top"></div>
				  	<div class="blob bottom"></div>
				  	<div class="blob left"></div>
				  	<div class="blob move-blob"></div>
				</div>
			</div>
		</div>

		<!-- PAGE CONTENT
		============================================= -->	
		<div id="page" class="page">




			<!-- HEADER
			============================================= -->
			{% include 'includes/header.html' %}	<!-- END HEADER -->



            
            {% block content %}{% endblock content %}
                



			<!-- FOOTER-3
			============================================= -->
			{% include 'includes/footer.html' %}	<!-- END FOOTER-3 -->




		</div>	<!-- END PAGE CONTENT -->	
			



		<!-- EXTERNAL SCRIPTS
		============================================= -->	
        {% include 'includes/scripts.html' %}

	</body>


</html>
